{% load static %}

<!-- FOOTER -->
      <footer class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <h4 class="h6">Hakkımızda</h4>
              <p>Bu websitesi bitirme projesi olarak tasarlanmış bir e-ticaret sitesidir.</p>
              <hr>
              
              <hr class="d-block d-lg-none">
            </div>
            
            <div class="col-lg-3">
              <h4 class="h6">İletişim</h4>
              <p class="text"><strong>mesut.krbyr@gmail.com</strong></P>
              <hr class="d-block d-lg-none">
            </div>
            
          </div>
        </div>
        <div class="copyrights">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 text-center-md">
                <p>&copy; 2021 / SİVAS / 2016734011</p>
              </div>
              <div class="col-lg-8 text-right text-center-md">
                <p>Template design by <a href="{% static 'https://bootstrapious.com/snippets' %}">Bootstrapious </a>&  <a href="{% static 'https://fity.cz/' %}">Fity</a></p>
                <!-- Please do not remove the backlink to us unless you purchase the Attribution-free License at https://bootstrapious.com/donate. Thank you. -->
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Javascript files-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper.js/umd/popper.min.js' %}"> </script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
    <script src="{% static 'vendor/waypoints/lib/jquery.waypoints.min.js' %}"> </script>
    <script src="{% static 'vendor/jquery.counterup/jquery.counterup.min.js' %}"> </script>
    <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
    <script src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.scrollto/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/front.js' %}"></script>